[2020-02-18 21:10] FynnBe opened #19 "How should we specify what labels can be provided for training?"
Not all tensors/channels that are returned by a (neural network) model require a target to compute a loss.
Concretely, how does a consumer know what labels to inquire from a user and how to send them?

Three ideas to hopefully kick off further discussion:
As this is clearly linked to model output, a with-`outputs`-integrated suggestion:
[code]
Problems:
 - How would different output tensors 'share

[2020-02-28 13:32] FynnBe opened #26 "allow to specify multiple dtypes in spec yamls"
[code]

[2020-03-05 15:57] FynnBe opened #27 "Export JSON schema for model specification"

[2020-03-31 13:47] FynnBe opened #30 "same name dependencies may clash"
importing model.yaml dependencies may fail, if the same dependency (by name) exists with two versions.

example:
consumer (tiktorch) has pybio dependency. If model points to new pybio transformation, the import will not actually happen, as the oder pybio used by tiktorch itself is already imported.

[2020-06-25 08:00] oeway commented on #27
Is this already done?

I just check the schema, and noticed there are wired keys appeared in the root: `optional_kwargs` `required_kwargs`, why is that? @FynnBe

I am thinking maybe we should write the schema manually, in that case, will you be able to read a json schema file and use it in the python package?

[2020-06-25 10:25] FynnBe commented on #27
yes, I forgot about this issue...

The `optional_kwargs` and `required_kwargs` keys are there to specify any kwargs optional/required for model instantiation, as source points to a callable...

we use marshmallow to specify the schema, which allows for more validation and exporting of the json schema (with a subset of the 'rules'). As marshmallow is more powerful, I would like to keep it this way.

[2020-06-25 13:04] oeway commented on #27
Thanks @FynnBe  for the explanation.

But this is not in our configuration specification right, is there a way to clean up the exported json schema?

I would like to make a model config generator/validator plugin in javascript, so users can build model config from an UI and we can add a badge for validated model cards. Even more, for those not validated ones we show an info button where the develo

[2020-06-25 13:44] FynnBe opened #31 "Key word arguments for model specs"
Should we add optional and required key word arguments to the model specification, as we have them for other specifications, e.g. reader, sampler, transformation?

(assumption: key word arguments have to be json serializable, no fancy stuff!)

Pros:
- consistency across specs
- most models actually do have some kwargs, like nr of channels, etc...

Cons:
- we would have to specify model kwargs for

[2020-06-25 13:52] FynnBe commented on #27
sure thing, we can just drop them to have the models self-contained
Maybe we should add them to the specification, though? Let's discuss that in #31, and I'll remove them from the json schema for now.
- [ ] remove kwargs from model json schema

Running a CI was the plan afaik... With the marshmallow schema we implemented a fast validation (format + easy to check cross field checks) and one that wo

[2020-06-29 07:40] FynnBe commented on #27
- [ ] improve exported json: https://github.com/bioimage-io/bioimage-io-models/pull/22#issuecomment-650095706

[2020-11-27 10:47] constantinpape opened #37 "Convenient use"
I think the verify scripts are crucial to help developers validate their specs before pushing them to the model zoo.
Once we have the changes in #35 ready, we should explain how to use it and also make this easier.
I have started to add some basic information to the README in #36.
In addition the following things would be quite useful:
- publish on pip (and/or conda) to make it easy to install
- p

[2021-02-12 14:21] esgomezm opened #44 "error while building the manifest for the models"
https://github.com/deepimagej/models/runs/1824873495?check_suite_focus=true#step:7:51

[2021-02-12 14:54] #44 closed

[2021-02-12 14:56] m-novikov opened #45 "Add notebooks validation for bioimage.io manifest.yaml"
Related: #44
[code]

[2021-02-12 15:04] m-novikov commented on #45
Extra field documentation is added in latest master

[2021-02-12 15:04] #45 closed

[2021-02-17 10:07] esgomezm opened #46 "feedback from deepImageJ models"
Missing field `tensorflow_version` from the [tensorflow weights specifications](https://github.com/bioimage-io/configuration/blob/master/supported_formats_and_operations.md)

[code]
If there is no preprocessing, I tried these two forms `preprocessing: null` or `preprocessing: `.
It complains in both cases as:
[code]
or
[code]
Error messages [here](https://github.com/deepimagej/models/runs/19176792

[2021-02-23 16:43] oeway opened #50 "KeyError: 'tensorflow_saved_model_bundle'"
Running the verification script in the CI and I got this error:
(https://github.com/deepimagej/models/runs/1963020995)
[code]

[2021-03-12 13:53] oeway opened #51 "Optional fields"
In this PR we changed a few fields to optional: https://github.com/bioimage-io/configuration/pull/65 this needs to be reflected in the verification library.

[2021-03-23 13:15] tomburke-rse opened #54 "Invalid value for output name field on validation"
Hi all,
I'm currently updating the N2V model and noticed a problem with the validation.

This is the error I am getting
`python -m pybio.spec verify-spec .\model.yaml
{'outputs': {0: {'name': ['Invalid input.']}}}`

This is the model file. Adding '' to the output name does not help.
`format_version: 0.3.0
name: N2V SEM Demo
timestamp: 2021-03-22T19:11Z
description: Demo model for denoising trained

[2021-03-24 12:59] FynnBe commented on #54
tensor names need to be valid python identifiers, but `"activation_11/Identity".isidentifier() == False` due to the forward slash.
We should probably add a more specific error message, though...

[2021-03-24 13:42] tomburke-rse commented on #54
Thanks, good to know. Thats what we currently produce in java with no problems. I'll look into how to change what tensorflow produces there.

[2021-04-06 13:44] oeway opened #55 "Support testing model packager"
As discussed, it would be nice to support testing the model packager link.

Here is what I propose:
1. resolve the url of the following items:
   * `weights`
   * `files` key under attachments
   * `attachments` under the each weights file formats
   * `source`
   * `test_inputs` and `test_outputs`
   * `covers`
2. for each URL, we don't need to download each file during test, but send a `HEAD` re

[2021-04-26 08:18] k-dominik opened #56 "checker falsely flags halo inside shape"
see https://github.com/bioimage-io/spec-bioimage-io/pull/76

best guess is that the problem might be here: https://github.com/bioimage-io/python-bioimage-io/blob/2f7184f0f35e8dd195c4045247fdefa9fabc5502/pybio/spec/schema.py#L91-L95

[2021-04-26 08:21] k-dominik opened #57 "model_spec.json"
commit c196ad70aed0dd24d679b5606b4185592d5f4db9 added an automatically generated model spec. Since it's been so long, I assume it is outdated? Also there should be some note that this file is generated - it's quite irritating. What is it's use?

[2021-04-26 08:37] constantinpape commented on #56
Yes, it looks like `halo` was mistakenly put [here](https://github.com/bioimage-io/python-bioimage-io/blob/2f7184f0f35e8dd195c4045247fdefa9fabc5502/pybio/spec/schema.py#L253)
instead of the `OutputShape`.
cc @FynnBe

[2021-04-26 10:36] #51 closed

[2021-04-26 12:52] FynnBe commented on #56
I think the error lies in https://github.com/bioimage-io/spec-bioimage-io/pull/76

In our "reference example" halo is also part of the output tensor description, not of the shape:
https://github.com/bioimage-io/pytorch-bioimage-io/blob/113e6d01989e39cd955cb2ead311086548d95026/specs/models/unet2d_nuclei_broad/UNet2DNucleiBroad.model.yaml#L45

This is because the shape might be defined with `referen

[2021-04-26 12:56] constantinpape commented on #56
I am pretty sure that we have put `halo` in the shape (going back to the discussions about how to compute the output shape).
This is rather an error here and in the reference example.

[2021-04-26 12:57] FynnBe commented on #57
@oeway was interested in a json schema version of our marshmallow schema (that is more detailed) for use in web forms...
I'll make a PR with changing the generated file's name and add the spec version to the generated file...

[2021-04-26 12:59] constantinpape commented on #56
This also becomes clear if you actually read what we have in the spec description:
[code]
This refers to `offset` without any further modifiers, which strongly implies that its on the same level of hierarchy.

[2021-04-26 13:26] FynnBe commented on #56
I see how this ambiguity arose over time, as we had further discussions about the meaning of halo and offset. While offset only makes sense with the presence of `reference_input`, halo is independent of how the output shape is defined. If at any time we decided to move `halo` into `shape` I am not opposed to changing the validator accordingly, but I am puzzled about the use case of a fixed output

[2021-04-26 13:40] FynnBe commented on #50
fixed in b68184a09f673b2bc0aa9c19e2df00ea4e63546d

[2021-04-26 13:40] #50 closed

[2021-04-26 13:53] constantinpape commented on #56
It was always part of `shape`, see these commits were we introduced the shape descriptions:
https://github.com/bioimage-io/spec-bioimage-io/commit/9d1dfb642a62f92790d71b11b5ff9bf4891b17ea
https://github.com/bioimage-io/spec-bioimage-io/commit/dc545503e9052865ff931abaead92f3e6becddc0

This is again going back to the discussions we had about this, but `halo` is a hint for the consumer software on wh

[2021-04-26 14:23] FynnBe commented on #56
exactly, but in case `shape` is specified explicitly, `halo` cannot be below `shape` like `offset ` and `scale`

I am thinking of this scenario:
[code]

[2021-04-26 14:30] #27 closed

[2021-04-26 14:33] constantinpape commented on #56
Ok, I agree. This is an error in the spec. I will add a PR to fix it in there properly.

[2021-04-26 15:08] constantinpape commented on #56
See https://github.com/bioimage-io/spec-bioimage-io/pull/77.

[2021-04-26 17:10] FynnBe opened #62 "refactor package name to bioimageio"
Once only a few PRs are open, and ideally before `0.4.0` we should refactor the package name `pybio` to `bioimageio` as discussed in march https://github.com/bioimage-io/bioimage.io/issues/28#issuecomment-802927010

[2021-04-27 10:38] #57 closed

[2021-05-28 14:36] oeway opened #68 "Check license key to match SPDX license definition"
Hi, it would be nice if we can validate that the license key is a valid SPDX identifier.

Here is a potential python package we could use to get the list: https://pypi.org/project/spdx-license-list/

@FynnBe @constantinpape

[2021-05-28 14:45] FynnBe commented on #68
alright, looking at what this packages provides additionally, should we:

- warn for a deprecated licence (or fail?)?

- require it to be free/open source?? (I think we agreed on not enforcing any specific license groups, but I want to make sure I didn't just make that up...)

[2021-05-30 08:57] oeway opened #70 "Enforce that the `documentation` key contains only relative path, not a URL"
The current spec describe `documentation` as `Relative path to file with additional documentation in markdown.` However, the validator only check it's a URI. I noticed that some models use a generic http URL for the documentation key, which make it more complicated to render on the website. I am keen in to make it more restricted:
 * It must be a relative path start with `./`
 * It must be a markd

[2021-06-01 13:38] #68 closed

[2021-06-03 21:39] esgomezm opened #71 "module 'bioimageio.spec.raw_nodes' has no attribute 'BioImageIoManifestModelEntry'"
Hi there!

I'm getting this error when running the bioimageio.spec in the model repo:

https://github.com/deepimagej/models/runs/2741124164

[2021-06-04 15:26] constantinpape commented on #70
Validator has been moved to spec repo, see discussion on the documentation format in
https://github.com/bioimage-io/spec-bioimage-io/issues/91

[2021-06-04 15:26] #70 closed

[2021-06-04 15:27] constantinpape commented on #62
done

[2021-06-04 15:27] #62 closed

[2021-06-04 15:27] constantinpape commented on #56
This is fixed.

[2021-06-04 15:27] #56 closed

[2021-06-04 15:29] constantinpape commented on #55
@oeway I think this is outdated so I am closing this issue. If it's not outdated, I think it's best if you create a new issue in the spec repo, that now contains all the spec validation logic.

[2021-06-04 15:29] #55 closed

[2021-06-04 15:31] constantinpape commented on #37
we have made some progress towards these points already, so I am closing this.

[2021-06-04 15:31] #37 closed

[2021-06-04 15:31] constantinpape commented on #46
I think these points are fixed now.

[2021-06-04 15:31] #46 closed

[2021-06-04 15:32] constantinpape commented on #31
This is outdated.

[2021-06-04 15:32] #31 closed

[2021-06-04 15:32] constantinpape commented on #30
This is outdated.

[2021-06-04 15:32] #30 closed

[2021-06-04 15:46] constantinpape commented on #19
I think this is also outdated.

[2021-06-04 15:46] #19 closed

[2021-06-04 15:48] constantinpape opened #72 "Do we still need this repository?"
@FynnBe as far as I can see the functionality left here is only needed for deprecated things (the old transformations, dataset and model runner ideas).
Do we still need it for anything?
If not, we should consider either removing or at least archiving it.

[2021-06-04 15:54] FynnBe commented on #72
There is not much left here, but
- the runner should live here (still in tiktorch atm)
- the transformations should be updated and live here (for numpy only as there is clear overlap with [bioimageio.torch](https://github.com/bioimage-io/pytorch-bioimage-io and potentially with a 'bioimageio.tf')

[2021-06-04 16:11] constantinpape commented on #72
What exactly do you mean by runner? This: https://github.com/ilastik/tiktorch/tree/master/tiktorch/server/prediction_pipeline/_model_adapters?

For these, I thought that the spec repo would also be the better place, because they could serve as reference implementations.

[2021-06-04 16:38] FynnBe commented on #72
yes, tiktorch's model adapters, or even the [PredictionPipeline](https://github.com/ilastik/tiktorch/blob/4dffb8283a38584e07f42ef5cb0db86c1708311b/tiktorch/server/prediction_pipeline/_prediction_pipeline.py#L69) with pre- and postprocessing.
But each such adapter/pipeline/runner potentially goes together with it's own set of transformation implementations...
We could merge it all, but then we shou

[2021-06-04 17:36] constantinpape commented on #72
I agree that some separation makes sense, but I don't think having separate repositories for `python-bioimage-io`, `pytorch-bioimage-io` and `tf-bioimage-io` make sense, especially since the prediction pipelines depend on having the frameworks available, so I very much like this idea:

I still think that the the pure numpy implementations of pre-and-postprocessings should go into the spec reposito

[2021-06-04 17:40] constantinpape commented on #72
(Also, if we keep this repository and move `pytorch-bioimage-io` and stuff from tiktorch here, we should remove the outdated stuff in https://github.com/bioimage-io/python-bioimage-io/tree/master/bioimageio).

[2021-07-19 15:22] #72 closed

[2021-07-19 15:29] constantinpape opened #74 "Implement common functionality here"
As discussed in https://github.com/bioimage-io/bioimage.io/issues/28#issuecomment-881508842 and elsewhere, it would be good to implement general purpose (python) modelzoo functionality in this repo:
- model loading (currently `tiktorch.get_nn_instance`, but extend with proper weight initialization)
- pre/post-processing + model runner (currently `tiktorch.PredictionPipeline`)
- use zenodo API to d

[2021-07-20 09:18] FynnBe commented on #74
this could potentially live in `bioimageio.spec` as well as we have other io functionality there already.

[2021-07-20 09:33] constantinpape commented on #74
I think we need to discuss which functionality goes to `spec` and which to `python`.

I would rather move all the non-validation functionality to `python`, but I would suggest to have the detailed discussion about this on Friday.

[2021-07-20 09:51] FynnBe commented on #74
yes makes sense. some of the io functionality will have to remain in spec as it is required to gather everything to do the validation...

[2021-07-20 09:59] oeway commented on #74
Sounds like the good direction to go.

[2021-07-23 09:54] constantinpape opened #77 "Set up tests and CI"
(test folder is added in #76)

cc @FynnBe @k-dominik

[2021-07-25 09:50] constantinpape commented on #77
see also #79

[2021-07-25 09:52] constantinpape opened #80 "Implement download functionality"
It would be very helpful to have download functionality, i.e. a function that takes the zenodo DOI for a model and then downloads the zip; similar to the download function on bioimage.io.

@FynnBe can we refactor the packaging part of the ilastik bioimageio app for this?

[2021-07-26 07:47] FynnBe commented on #80
yes, `bioimageio.spec.export_package`[https://github.com/bioimage-io/spec-bioimage-io/blob/b316d19510fabef9ceb72d473cf07b90fbf1960d/bioimageio/spec/__init__.py#L8]

the doi wouldn't be enough though (this we should add!), but a url to the rdf.yaml would work already.

[2021-07-26 08:44] constantinpape commented on #80
Ok, cool!

Yes, would be good to export the doi, but for now the url to the rdf.yaml also works.

It would be good to add some more docstrings.

[2021-07-26 10:16] FynnBe commented on #80
added some more in https://github.com/bioimage-io/spec-bioimage-io/pull/197

[2021-07-26 10:19] FynnBe commented on #80
maybe that's better implmented in a separate function as pointing to the `rdf.yaml` instead of the original content of the `doi` is a bit too much magic for comfort I think... Also this would probably be specific to zenodo (I don't see a generic way of pointing to the rdf.yaml instead of the 'landing page')...

[2021-07-26 13:03] constantinpape commented on #80
I agree; I think we need a `zenodo` specific module anyway (which also deals with the upload) and this functionality could go in there and use `export_package` internally.

[2021-07-30 12:47] constantinpape opened #83 "Left todo from prediction pipeline"
- [x] implement keras weights
- [x] support device as parameter in predict.py
- [x] separate forward and predict method in prediction_pipeline

[2021-08-02 16:03] oeway opened #85 "Package scope and name"
Hi, a quick thought here regarding the package name.

When I see it from the first time, I feel the current name `bioimageio.core` is not clear. Basically, "the core of bioimageio" can mean the core of the bioimage.io website, or something unclear. It can also make people wonder what is bioimageio first. But for us, bioimageio is just a domain name that includes the bioimage model zoo.

We should

[2021-08-03 12:17] constantinpape commented on #85
We had a discussion about this and thought that core is fine because this package is only used in the python context in any case.

This package contains more than model inference though, for example the `build_spec` and `weight_converter` functionality.

[2021-08-03 12:35] FynnBe commented on #85
maybe we come up with something better... let's keep track of discussed options:
 | bioimageio.x | pro | contra |
| --- | --- | --- |
| **core** | covers various functionality we want to include there | somewhat unsepcific |
 | runner | | we also have other funtionality in there |
| model-x | | there will always be shared python funcitonality acrross resource types... ( this does not mean we might

[2021-08-03 13:30] constantinpape commented on #77
CI is up and running and initial tests are also there

[2021-08-03 13:30] #77 closed

[2021-08-03 13:37] constantinpape commented on #83
I started to work on this in #86

[2021-08-03 14:09] constantinpape opened #87 "Extend bioimageio command line interface?"
Is it possible to extend the `bioimageio` commands with the command line functionality of this package?
See https://github.com/bioimage-io/spec-bioimage-io/blob/main/bioimageio/spec/__main__.py.

[2021-08-04 14:17] constantinpape opened #89 "Env with tensorflow 1.14 or 1.15"
We need an env with tf 1.15 to run the deepimagej models.
Unfortunately it seems like only 1.14 is available via conda or pip, see https://github.com/bioimage-io/spec-bioimage-io/issues/195#issuecomment-892689896.
Maybe 1.14 would also work.

[2021-08-04 16:31] FynnBe commented on #87
let's parse the spec ones through if injection doesn't work...

[2021-09-07 18:11] FynnBe opened #94 "ensure_raw_resource_description vs load_raw_resource_description"
.. only difference between the two is that 'ensure' also accepts resource description objects and (and this is the meaningful difference) returns a tuple of raw resource description (just as load.. does) and **root_path**

the separate handling of root_path in many places blows up the code slightly. it might be more elegant to allow setting a `root_path` member on resource description objects.

pr

[2021-09-07 19:56] constantinpape commented on #94
Is there any case where the behavior of `load_raw_resource_description` is preferable over `ensure_...`?
If not, could we just replace `load...` with `ensure...`? The only downside is that the returnvalue of `load_...` would change, but given that we don't have external users yet and need to change things anyway I think that that would be ok.

[2021-09-08 08:15] FynnBe commented on #94
If we do that we might as well set a `root_path` attribute and conclude that once a resource is loaded the files on disk may not be moved (or write a helper function for that, but we currently have no use for it.). Setting root_path as attribute would avoid confusion about returning a tuple and hide it whereever root_path is not needed and shorten function signatures (most functions that accept a

[2021-09-08 08:58] constantinpape commented on #94
I agree, that's a good solution as well. As long as you don't mind adding root_path although it's not a real part of the spec. (I don't think there is an issue with adding it.)

[2021-09-09 13:12] FynnBe opened #96 "setup different environments?"
package conflicts for the joint pytorch tensorflow dev env...

maybe to cut this short we should setup different environments?

_Originally posted by @FynnBe in https://github.com/bioimage-io/python-bioimage-io/issues/95#issuecomment-916074944_

[2021-09-09 13:13] constantinpape commented on #96
yep, I can look into this now.

[2021-09-09 13:47] constantinpape commented on #94
I think this is solved and we only have `load_raw_resource_description` + `root_path` is an attribute of the model now.
Is that correct, @FynnBe? Reopen if not.

[2021-09-09 13:48] constantinpape commented on #87
This is fixed now.

[2021-09-09 13:48] #87 closed

[2021-09-09 13:48] #89 closed

[2021-09-09 13:58] FynnBe commented on #94
this is not implemented yet...

[2021-09-09 14:02] constantinpape opened #98 "Remaining issues"
Here's a list of remaining issues with the functionality here I found while working on #92.
It would be good to fix some of this before making a release, maybe except for last two points, which could be a bit more complicated.

- [x] `prediction_pipeline` (and transitively also prediction functions) only support a single input/output tensor; need example model for this
- [x] `prediction_pipeline`

[2021-09-09 16:48] FynnBe commented on #96
implemented in #97

[2021-09-09 16:48] #96 closed

[2021-09-09 16:49] #94 closed

[2021-09-10 08:34] #83 closed

[2021-09-10 08:41] constantinpape commented on #98
@FynnBe I think it would be good to work on this (at least first 4 points) before releasing this library. I can work on the pre/post-processing things next. And we can maybe discuss how to split the other things in the bioimage.io meeting.

[2021-09-10 08:43] constantinpape opened #101 "Releasing this library"
I think we have most of the base functionality implemented now, we just need to test prediction with keras / tf models (but need working examples for this) and some smaller issues, see #98.
But I think we can prepare a release + publishing pip and conda packages already. I think it would be good to have the same workflow as in the spec repository.
@oeway @k-dominik would you have time to work on t

[2021-09-10 15:36] FynnBe opened #102 "Cache handling needs improvement"
caching everyting to `~/bioimageio_cache` with the current pattern of only analysing the url fails for updates to the remote resource, e.g. a 'master' branch on github, etc...

[2021-09-14 16:16] constantinpape commented on #98
Support for multiple tensors has been implemented in #103 and #104 and the output_dtype is not relevant any more since `prediction_pipeline` has `output_specs` now.

@FynnBe do you want to tackle fixed shapes next? You can use [this model](https://github.com/bioimage-io/spec-bioimage-io/tree/main/example_specs/models/unet2d_fixed_shape) for tests.

Also, do you want to work on removing the attribu

[2021-09-14 17:46] FynnBe commented on #98
Yes and yes 👍

[2021-09-16 09:24] FynnBe commented on #98
simplified in #106

we could take it a step further and remove `crreate_prepdiction_pipeline` and use its `__init__` instead, as it's rather trivial now.

[2021-09-16 09:25] FynnBe commented on #98
fixed shapes PR: https://github.com/bioimage-io/python-bioimage-io/pull/105

[2021-09-20 12:29] oeway commented on #101
The releasing script for pypi is working: https://pypi.org/project/bioimageio.core/

Should we rename the repo to `core-bioimage-io` for consistency?

[2021-09-20 17:32] FynnBe commented on #101
the reasoning for the 'python' was that this or similar functionality might be implemented in other languages as well. other implementations of 'core' if you you will...
However, I hold no strong opinion on the repo name.

[2021-09-21 07:22] constantinpape commented on #101
I wouldn't mind renaming it to `core-bioimage-io` either.

[2021-09-21 08:54] k-dominik commented on #101
no opinions on this? I would at least expect a library with similar functionality for the java folks, no?

[2021-09-22 08:06] constantinpape commented on #101
we thought about this and think that the best name would be
`core-bioimage-io-python`, to leave open the option of core implementations in other languages

[2021-09-22 08:11] oeway commented on #101
Ok, core-bioimage-io-python it is!

[2021-09-22 08:30] k-dominik commented on #101
Okay, I'll rename it then :)

[2021-09-22 10:21] constantinpape commented on #85
We have decided on `core-bioimage-io-python` for the repo name and `bioimageio.core` for the package name now.

[2021-09-22 10:21] #85 closed

[2021-09-27 13:47] k-dominik commented on #101
once https://github.com/conda-forge/staged-recipes/pull/16283 is merged, we're good to close this

[2021-09-27 13:49] constantinpape commented on #101
I also made a release tag on gh right now, see https://github.com/bioimage-io/core-bioimage-io-python/releases/tag/0.4.0.
For some reason this was not done automatically; we should watch this the next time we draft a release.
I will create a separate issue on this.

[2021-10-04 14:35] constantinpape commented on #80
@FynnBe this came up in the last modelzoo call again.
Specifically, @esgomezm got feedback from the ZIDAS course that downloading the model from the website and then entering the local path to the model in deepimageJ or ilastik was quite confusing for some users.
So we thought that it would be good to support using the DOI as model identifier everywhere and then just download in deepimagej / ilast

[2021-10-04 16:55] FynnBe commented on #80
one important detail (you maybe already clarified?):
Obviously dois as URLs is boring: https://doi.org/10.1109/5.771073.
So we expect "naked" dois to work? or with some hint like a "doi:" scheme
 - "naked" 10.1109/5.771073
 - "doi scheme" doi:10.1109/5.771073

[2021-10-04 17:08] FynnBe commented on #80
assuming we want "naked" doies to work I will check if the source string matches the doi regex fully,,,

[2021-10-04 18:41] constantinpape commented on #80
We want "naked" dois, as this is what is used as id on bioimage.io.

[2021-10-05 15:29] FynnBe commented on #80
First step in progress: https://github.com/bioimage-io/spec-bioimage-io/pull/251 add support for doi validation in bioimageio.spec

[2021-10-10 14:07] #80 closed

[2021-10-10 14:11] constantinpape opened #124 "load_resource_description does not set root path when used with url or doi"
If it's used with a file path it sets the correct `root_path`, otherwise the root path is set to `.` and files that require a relative path (e.g. the python architecture source file) cannot be used correctly.
See script and outputs below:

[code]

[code]

[2021-10-10 18:57] constantinpape commented on #124
Ok, I think this is not a bug but because of differences in the internal mechanism.
I found a proper way to resolve this now.

[2021-10-12 12:53] esgomezm opened #125 "zsh: illegal hardware instruction"
Hi!

I'm trying to test a model that pass the validation test but I get the following message, both with test-model and predict-image:

[code]

I'm testing it in macOS

[2021-10-14 08:32] constantinpape commented on #125
I am not really sure how we could autodetect that, but we can maybe offer an environment file for BigSur.
It seems like there are pip packages available:
https://stackoverflow.com/questions/65521255/installing-tensorflow-on-mac-os-big-sur-with-pip
(But note that it's very unlikely there will be anything for tf1, which might be needed for this model)

[2021-10-15 11:54] constantinpape opened #127 "scale_range in postprocessing"
@esgomezm  and me are debugging a [zero cost model](https://sandbox.zenodo.org/record/938151) that has `scale_range` in postprocessing:
[code]
According [to the spec](https://github.com/bioimage-io/spec-bioimage-io/blob/main/supported_formats_and_operations.md#postprocessing) this should be valid (i.e. `reference_tensor` is  not defined, so the tensor itself should be used).

However, when running

[2021-10-15 12:20] FynnBe commented on #127
looks like the default "self" is not implemented yet. I will fix that...

[2021-10-16 10:28] #127 closed

[2021-10-21 07:22] FynnBe opened #135 "pin bioimageio.spec"
the test failures with the conda package (the latest release is sitll pending) makes me think we should pin bioimageio.spec here. otherwise installing any past version is virtually impossible...

I stumbled over the absence of bioimageio.spec pinning in https://github.com/bioimage-io/core-bioimage-io-python/issues/134#issuecomment-947924488_

and after some discussion with @k-dominik came to the c

[2021-11-05 14:22] #74 closed

[2021-11-11 20:41] constantinpape commented on #135
Will be fixed by #143

[2021-11-11 20:41] #98 closed

[2021-11-11 20:43] constantinpape opened #144 "Can't select weight format in test_model (and other CLI?)"
It looks like the new weight format selection mechanism is broken:
[code]
@FynnBe please also add a test to the CLI tests that tests this so we don't run into this issue again without noticing!

[2021-11-11 20:58] constantinpape opened #145 "Add tests to compare all pre-and-postprocessing implementations"
We should add tests to check that the pre/post-processing operations are implemented consistently across all different bioimage.io libraries / consumers.

cc @FynnBe @esgomezm @tomburke-rse

[2021-11-12 09:44] FynnBe commented on #145
How about we add a list of test cases?
[code]
And maybe we should add them in bioimageio-spec as this shouldn't be python specific?

[2021-11-12 11:37] esgomezm commented on #145
do you mean having an input + output + reference code? or some sort of script that tests that the preprocessing defined is the one expected?

[2021-11-12 11:49] FynnBe commented on #145
As reference code we agreed to use  this python bioimageio.core module (thinking about that, defining the test cases here makes a lot of sense as well...).
In the newly generated pre- and postprocessing documentations at https://github.com/bioimage-io/spec-bioimage-io/blob/gh-pages (e.g. https://github.com/bioimage-io/spec-bioimage-io/blob/gh-pages/preprocessing_spec_latest.md)
I link to bioimagei

[2021-11-12 13:10] #144 closed

[2021-11-12 13:23] oeway opened #148 "Add example images for the test notebook"
Hi @constantinpape Could you provide some examples for the example notebook so we can reproduce it easily? Either download it from somewhere (e.g. github release) or in the repo directory.

[2021-11-12 13:33] constantinpape commented on #148
Do you mean test images for `predict_images`? They can be downloaded from `https://github.com/stardist/stardist/releases/download/0.1.0/dsb2018.zip` as explained in the comments. Feel free to update the notebook such that they are downloaded directly.

[2021-11-12 13:47] oeway commented on #148
I am thinking that we only need one or two images to test whether if the prediction works.

[2021-11-12 14:43] constantinpape commented on #145
As discussed in the meeting: we will generate the input/output pairs of pre/post-processing with `bioimageo.core` (python) and then host this somewhere so that the other consumers can check their implementations against it.

[2021-11-12 14:43] FynnBe commented on #145
Discusses in today's meeting:
 - this python bioimageio.core hosts the reference implementations
 - here we formulate/generate the test cases
 - .npy is used as file format
 - other consumers/libraries will fetch the test cases from here (the actual data might be hosted on zenodo)

[2021-11-12 15:08] constantinpape commented on #148
Cool, just make a PR and I am happy to take a look.

[2021-11-12 16:42] #135 closed

[2021-11-19 14:46] oeway opened #150 "Support model unloading"
Would be nice to have a function to unload the model and free the GPU memory.

[2021-11-19 16:13] FynnBe commented on #150
in tiktorch we achieve this by brute force with subprocesses: Spawn a subprocess for a model (in tiktorch we call this a session) and then just end it when not needed anymore. When evaluating options this seemed to be the most reliable option. (there are many issues that can lead to occupied memory.) Would this be somehow feasable for the triton server as well?

[2021-11-21 09:26] oeway commented on #150
@FynnBe I think it's possible but not within the model itself, we will need to implement another server software to control model loading and unloading. This means user won't have direct access to triton which is less ideal.

[2021-11-22 09:17] constantinpape opened #152 "bioimageio package does not work as expected"
I have tried to download a model using `bioimageio package`, but it does not work as expected:
[code]

However, this works in python:
[code]
so the model should be valid.

[2021-11-22 11:04] FynnBe commented on #150
alright, for this to work reliably for all frameworks we might take a few iterations, but let's just give it a go...

[2021-11-22 20:59] FynnBe opened #154 "Tests fail on GPU (on windows)"
while the following test cases pass on cpu, they fail on gpu (on windows; only difference: `CUDA_VISIBLE_DEVICES=""`)
1. tests\prediction_pipeline\test_prediction_pipeline.py:36 (test_prediction_pipeline_torchscript[unet2d_multi_tensor])
2. tests\prediction_pipeline\test_prediction_pipeline.py:36 (test_prediction_pipeline_torchscript[unet2d_nuclei_broad_model])

@constantinpape I suspect this is i

[2021-11-23 08:16] constantinpape commented on #154
I am a bit confused, how do you even run tests on the gpu?

[2021-11-23 08:22] constantinpape commented on #154
Ok, I see we have tests for this in #155 now.

[2021-11-23 08:44] #152 closed

[2021-11-23 08:46] FynnBe commented on #154
we have the test_prediction_pipeline test already. I ran them locally on gpu and stumbled into it...
the new tests in #155 are the same tests slightly adapted for multiple inference.

[2021-11-23 09:24] constantinpape commented on #154
Yes, but it tests without GPU?! Or does it take a GPU if available?

[2021-11-23 09:42] constantinpape opened #157 "Tiling assumes channel first input"
See https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/prediction.py#L222

We need a model that has channel last (stardist example model?!) to write a test and then fix this.

[2021-11-23 09:53] constantinpape opened #158 "ImplicitOutputShape is not properly validated?!"
We specify that `shape = shape(input_tensor) * scale + 2 * offset` for the `ImplicitOutputShape`, see https://github.com/bioimage-io/spec-bioimage-io/blob/gh-pages/model_spec_latest.md.
However, it seems like this is not properly checked in `bioiamgeio test-model`:
`test-model` passes for https://github.com/bioimage-io/spec-bioimage-io/blob/main/example_specs/models/stardist_example_model/rdf.yaml

[2021-11-23 09:55] constantinpape commented on #157
Pending resolution of https://github.com/bioimage-io/core-bioimage-io-python/issues/158 (to create a proper stardist test model)

[2021-11-23 10:18] #154 closed

[2021-11-23 11:49] FynnBe commented on #158
after "offline" discussion:
in `bioimageio validate` we do not test if the specified files even exist. For simplicity we should keep it that way, which avoids any trouble running the validate command in pyodide, etc.
Therefore I will add the check for shape matching of test data and description to `bioimageio test-model` here in core.

[2021-11-23 12:49] FynnBe commented on #158
in the docs we do not specify how we round the `shape(input_tensor) * scale` part? [`numpy.round_()`](https://numpy.org/doc/stable/reference/generated/numpy.round_.html) to dodge the specifics on our side?

[2021-11-23 21:02] FynnBe opened #162 "How to reliably free GPU memory after tensorflow/keras inference?"
-- https://github.com/bioimage-io/core-bioimage-io-python/pull/155#issue-1060594661

@constantinpape @esgomezm @tomburke-rse @oeway let's gather some snippets and links

[2021-11-24 17:52] FynnBe commented on #150
#155 added unload for pytorch
closing this issue in favor of #162 to discuss missing TF/Keras unloading

[2021-11-24 17:52] #150 closed

[2021-11-24 17:53] #158 closed

[2021-11-25 09:30] #157 closed

[2021-11-25 13:45] esgomezm commented on #162
I'm a bit lost. Is this something to discuss during the hackathon?

[2021-11-25 14:22] FynnBe commented on #162
I think so. I'll collect some insights here and if anyone has experience on this please share here so we can have a more informed discussion during the hackathon.

What I found out today about tenforflow:

For tensorflow it looks a bit like an unsolved problem (e.g. https://github.com/tensorflow/tensorflow/issues/36465#issuecomment-582749350)
Some people take desperate measures that we definitely

[2021-11-26 10:00] constantinpape opened #165 "Improve prediction utility functions and CLI"
- add type annotations to function signatures
- use prediction pipeline as context manager where possible
- add more descriptions in doc string, see also https://github.com/stardist/stardist/pull/171#discussion_r757370593
- support `tiling=True` for `predict_with_tiling`, `padding=True` for `predict_with_padding`

[2021-11-26 11:04] FynnBe commented on #102
currently, the default cache folder is still defined in bioimageio.spec. There are also use cases for a cache there, so I opened a new issue to discuss cache solutions there: https://github.com/bioimage-io/spec-bioimage-io/issues/289

[2021-11-28 17:11] #165 closed

[2021-11-29 12:26] oeway opened #168 "Correct the implementation of the `parent` field"
Right now it's a tuple but the spec said it's a dict.

[2021-11-29 14:21] constantinpape commented on #168
Just to clarify @oeway, you mean the input to `build_model` [here](https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/build_spec/build_model.py#L476)?!

This is not really a bug here: the function signature is in general not the same as the spec in order to simplify calling it.
You can just pass parent as like this `(<MODEL-ID>, <HASH>)` and it should translate it to

[2021-11-29 15:01] FynnBe opened #171 "Add information about which weights have been tested in command test-model"
cc @constantinpape @esgomezm

[2021-11-29 15:03] FynnBe commented on #171
and while we're at it map '-' weight formats to '_' ones (which are the only valid names atm). e.g. "keras-hdf5" -> "keras_hdf5".
the -/_ difference is confusing as commands and arguments are all with dash and not with underscore, while the weight formats as input values are not interpreted in that way.

[2021-11-29 19:10] FynnBe commented on #168
@oeway please reopen if this needs further discussion

[2021-11-29 19:10] #168 closed

[2021-11-30 21:11] constantinpape opened #175 "Better handling of tf version"
We are not really making use of the tf version right now and should:
- raise a warning if the tf version is different than the one given by the model
- in `build_spec` require `tf_version` to be passed as argument instead of setting it to `1.15` as default value.
- do the same for opset_version for onnx

[2021-12-01 19:29] #175 closed

[2021-12-01 20:18] constantinpape opened #178 "Test ImplicitShape for input tensors"
ImplicitShape is supported for input tensors now, see https://github.com/bioimage-io/spec-bioimage-io/issues/234.
We should add a test case for this.

[2021-12-02 00:07] constantinpape commented on #171
I have added the message in d6a8ff0.

[2021-12-03 12:19] esgomezm opened #186 "Is license checked in the validation?"
We have a model with incorrect license name ("BSD-3") and rdf version 0.3.2. The validator says that the specs are correct but test-model complains about the licensing:

[code]

[2021-12-03 12:28] oeway commented on #186
I think that's expected, because 0.4.0 force it to be a SPDX license string. You need to change it to `BSD-3-Clause` or other variations of BSD-3.

[2021-12-03 12:35] oeway commented on #186
Oh, I misunderstand the issue here, I think the issue is that if we provide a yaml file with 0.3.2 version with an invalid license, the validator will pass. However, if the same file used with `test-model` command, it fails because it try to treat it with a 0.4.0 or maybe because it doesn't know how to upgrade the license field.

@FynnBe @constantinpape

[2021-12-03 14:17] FynnBe commented on #186
yes, in this case--running an older model--it would be required to use an older version of the bioimageio.core package as it always tries to convert a resource to the latest format.

[2021-12-09 12:11] oeway opened #190 "Add the option to disable insecure weight types"
For serving models with the core library from a public server, we need to have an option to disable all the model weight types that uses source code (e.g. pytorch state dict and keras weights + source code). This is necessary to prevent running arbitrary script provided by the users. We can also do it form outside to maintain a list of insecure weights formats, but would be nice if the core librar

[2021-12-09 12:21] constantinpape commented on #190
I am not sure what you mean by "disable" exactly, but I don't think that makes much sense here.

All inference in `bioimageio.core` is done via the prediction pipeline class, which is created via [create_prediction_pipeline](https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/prediction_pipeline/_prediction_pipeline.py#L176). You can specify the weight format to be use

[2021-12-09 12:31] oeway commented on #190
Let's say if we call `create_prediction_pipeline` with `disable_insecure_weights=True` and `weight_format=None`, disable means you throw an error if no "safe" weights format is found.

I know we can implement this ourselves, but from the server or even some user who want higher security standard, we would like to just call the inference pipeline without implementing the weight selection logic (bec

[2021-12-09 12:46] constantinpape commented on #190
Ok, I think that would be fine as long as this defaults to `False` so that we keep the old default behaviour.
If you want you can just make a PR to implement this.

[2021-12-12 18:44] constantinpape opened #192 "load_resource_description downloades git_repo"
Why does `load_resource_description` download the `git_repo`? I assume that this is only metadata and there should be no reason to download it.
This leads to issues when trying to run a model offline:
[code]

[2021-12-28 20:28] constantinpape opened #197 "Support out-of-core prediction (with dask?)"
Maybe relevant https://xarray.pydata.org/en/stable/user-guide/dask.html

[2022-01-13 15:36] k-dominik opened #198 "remove enforce_min_shape"
I don't know if the `enforce_min_shape` function is used anywhere, besides in ilastik (given that it's in a private module), but it only works for special, albeit common, cases where increments are the same in all directions. It also has other flaws, like not taking channels/time/datatype into account.

https://github.com/bioimage-io/core-bioimage-io-python/blob/55ed67201377224e6e8e3fe626f1f470fdd

[2022-01-13 22:02] constantinpape commented on #198
I am not using it anywhere, so fine for me to remove this.

[2022-01-18 08:05] constantinpape opened #203 "Inconsistencies between "bioimageio validate" and "bioimageio test-model" command"
I am trying to check if [this model](https://oc.embl.de/index.php/s/k087NMVaH5PBNxU) is working correctly.
It passes bioimageio validate:
[code]
but it fails for bioimageio test-model with an error that looks like it should be caught by validation:
[code]
I am also not able to figure out what's wrong with the model that causes the issue.

[2022-01-18 08:06] #171 closed

[2022-01-18 08:09] constantinpape opened #204 ""Unknown" is serialized to attachments"
`unknown: {}` is serialized to `attachments` when using `build_spec` (which uses `export_resource_package` internally).
It should not be serialized, because this is something internally added by the spec library. See e.g. [this model](https://oc.embl.de/index.php/s/k087NMVaH5PBNxU).

[2022-01-20 15:00] tomburke-rse opened #205 "[Question/Improvement]: Spec update script"
Hi people,

are there any plans to add a version updater to this script?
E.g. if I validate a model spec 0.3.2 I see whats missing/wrong. Now I want to update it to latest, in the best case through a dialog system. I know that isn't exactly easy and might be more interesting the more stable we get, but is this something that is in the future scope?

[2022-01-20 18:34] constantinpape commented on #205
This is already supported. @FynnBe would know best which function exactly to call (and which arguments to pass) in order to update models.

[2022-01-20 18:38] tomburke-rse commented on #205
I didn't see it in the Readme and didn't look further inside, but if this already exists. Great!

[2022-01-21 12:40] FynnBe commented on #205
@tomburke-rse , there is no dialog system (yet), but the validator can try to auto-convert and then yield the errors and warnings for the specified higher version. Atm we only support upgrading, no downgrading of the format version.

I am updating the documentation in https://github.com/bioimage-io/spec-bioimage-io/pull/376
Happy about any feedback. The update-format command has not been heavily u

[2022-01-21 13:54] #203 closed

[2022-01-21 14:03] FynnBe commented on #204
can't reproduce this with the package command.:
[code]
does not have any `unknown` field in download-package.zip/rdf.yaml...

[2022-01-21 14:06] tomburke-rse commented on #205
I'll check it out and give feedback about the update-feature as soon as possible. I would also only support update to *latest, as I see no value to downgrade at all.

[2022-01-22 10:21] constantinpape commented on #204
The problem is that `attachment:unknown` **is** in the rdf of this model, see:
![image](https://user-images.githubusercontent.com/4263537/150634571-1565287f-74b7-47f7-bfc5-c0961210c08b.png)

And it ends up there because it's created via `build_spec`, which uses `export_resource_package` internally. So something in there serializes the `unknown` field to the rdf.yaml; which should not happen.

[2022-01-22 10:32] constantinpape commented on #204
See also the test errors here: https://github.com/bioimage-io/core-bioimage-io-python/pull/207

[2022-01-25 10:31] FynnBe commented on #204
I suppose it has been fixed in the meantime and the model was generated at an unfortunate moment in bioimageio.spec post release history^^
see comment [here](https://github.com/bioimage-io/core-bioimage-io-python/pull/207#issuecomment-1021031023)

[2022-01-25 12:28] constantinpape commented on #204
Cool, thaks for checking.

[2022-01-25 12:28] #204 closed

[2022-01-26 19:44] k-dominik opened #209 "feature request: generate pre-filled yaml file"
Would be cool to have the command line tool generate a "template" yaml file with all _mandatory_ fields included (with examples, comments and so on), like many tools do this with config files.

[2022-01-26 20:24] constantinpape commented on #209
There is [build_spec.build_model](https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/build_spec/build_model.py#L515) which implements something similar:
it generates the full model config given a path to the weight file and some more metadata. It tries to give reasonable defaults for metadata that is not passed.

That's of course not quite what you ask for here, but I

[2022-01-26 23:56] esgomezm opened #210 "Save 3D, 2D+c or 2D+t test and sample images correctly"
Hi!
I'm converting the ZCDL4M 3D U-Net notebook with the bioimageio.core code and I see that 3D images are not properly stored. This also happened to StarDist as far as I remember when the images were 2D + channels. Could it be possible to correct it?

Thank you!

[2022-01-27 08:07] #209 closed

[2022-01-27 08:35] k-dominik opened #211 "keep interface of build_model in line with spec"
probably a nitpick, but when building a model I ran into an unexpected type for the mandatory `cite` field/argument to build_model:

https://github.com/bioimage-io/core-bioimage-io-python/blob/902262bdce60a4c905f7b4a3b5646dc9ae68122f/bioimageio/core/build_spec/build_model.py#L528

[relevant code in spec](https://github.com/bioimage-io/spec-bioimage-io/blob/4c799d91293ec4785e7bb3e2e7a1313922e43921/

[2022-01-27 13:00] constantinpape commented on #210
Hi @esgomezm,
I think that this is a discrepancy with how tifs with more than 2 dimensions are written here and read in deepImagej/Fiji.
And this is definitely something we want to fix. Currently, the code for writing the tif samples is [here](https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/build_spec/build_model.py#L357-L374).
So we would need to adapt this code s

[2022-01-27 13:57] esgomezm commented on #210
Hi @constantinpape
I answered you by email as well. But we can discuss it here. The code I normally use with tiff files is the following one:
[code]
Storing the tiff like that shouldn't give you problems when recovering it from python. Could you test it?

Also, can use the very last version of the bioimageio.core in the notebook?

[2022-01-27 15:24] constantinpape commented on #210
Thanks for the code snippet @esgomezm. I am working on using it now, see #212.

Sorry, I don't quite understand what you mean, could you please clarify?

[2022-01-27 15:51] constantinpape commented on #211
Yes, I agree that the interface for `build_model` needs some clean up to keep it in line with the spec. I have some other things to fix first and then will tackle it. Will ping you once I have time to work on it for feedback.

[2022-01-27 20:26] oeway opened #213 "No such command 'test-model'"
Hi, any idea why the command doesn't work after installing it with `pip install -U bioimageio.core`?
[code]

[2022-01-27 21:19] constantinpape commented on #213
Not sure, could you try deinstalling `bioimageio.core` completely and then install it just via `pip install bioimageio.core`?

[2022-01-28 12:07] oeway commented on #209
We might want to document this features in the docs about contribute models.

[2022-01-29 19:41] FynnBe commented on #213
maybe you have installed `bioimage.spec` after core, such that it runs the spec version of the bioimageio command...

[2022-01-29 22:06] constantinpape commented on #210
@esgomezm I think I have fixed the issues now and I have made a new release already that includes the changes: v0.4.10. If you switch to it in the zero cost notebooks the problems should be fixed.

[2022-01-31 08:58] oeway commented on #213
I tried uninstall both and reinstall them but still not working. However I manage to run with a conda environment.

I am a bit confused that when we have two packages sharing the same  entry point command bioimageio what will happen? Will both work?

[2022-01-31 09:09] constantinpape commented on #213
ok, so maybe this is an issue with the pip installation. I guess we never really test the pip installation because everyone here is using conda.

No, the second one to be installed over-rides the first one; at least that's how it's working for us in conda.

[2022-02-04 11:49] uschmidt83 opened #217 "Import error"
[code]

[2022-02-04 11:53] uschmidt83 commented on #217
Seems that `install_requires=["bioimageio.spec>=0.3.4", ...],` is outdated and requires never version of spec.

https://github.com/bioimage-io/core-bioimage-io-python/blob/67a1264d86f96418b9131142c26374c8913e0214/setup.py#L28

[2022-02-04 12:04] FynnBe commented on #217
thanks for raising this issue 👍

[2022-02-04 13:01] #217 closed

[2022-02-06 21:22] FynnBe opened #219 "ideally we would bump spec dependency with every spec release"
ideally we would bump this with every spec release... we could auto generate a PR for this purpose... but maybe I've just looked too much at github workflows lately to think that's an appropriate solution?!

_Originally posted by @FynnBe in https://github.com/bioimage-io/core-bioimage-io-python/issues/218#issuecomment-1029923753_

[2022-02-06 21:23] FynnBe opened #220 "generate clear error message if file was not found during validation"
Ok, so that's why, the message can be a bit more clear then, maybe print something like "file not found".

_Originally posted by @oeway in https://github.com/bioimage-io/collection-bioimage-io/issues/272#issuecomment-1030024290_

[2022-02-08 12:59] constantinpape opened #221 "Incorrect type annotations in processing?"
Feedback from @tomburke-rse: the [processing implementation](https://github.com/bioimage-io/core-bioimage-io-python/blob/main/tests/prediction_pipeline/test_preprocessing.py) seems inconsistent with the spec definition, because some operations don't allow passing arrays for the arguments where it should be supported (according to type annotations)
This is the case for:
- [percentiles in scale_rang

[2022-02-08 13:53] FynnBe commented on #221
not quite. The Percentile class is directly used there and it supports only floats:
https://github.com/bioimage-io/core-bioimage-io-python/blob/ce27bb2ff73288cf83b99af78b564e72c1610a90/bioimageio/core/statistical_measures.py#L21-L27

[2022-02-08 14:10] constantinpape commented on #221
@tomburke-rse small correction to what we discussed earlier:
for `ScaleRange` we always just pass a scalar for `min/max_percentile`. `axes` then change how the percentiles are computed.
Take the example of an image with 3 channels (`axes = xyc`).
- If `axes` is not passed to `ScaleRange`, the percentiles are computed over all of the data, so we end up with a single `min/max` value that is used for

[2022-02-14 19:23] constantinpape opened #223 "How to set statistics for per_dataset processing?"
@FynnBe how do we currently deal with `per_dataset` normalization? I could not find this documented anywhere.
And if I run prediction with a `per_dataset` model naively I get the following error:

[code]

[2022-02-17 14:18] oeway commented on #211
I came across with this one too, the cite field for build_model should be a list of dict (with text, url, doi).

Also I think there are some misunderstanding on what the citations should be like.

In the notebook example in bioimage.core, I saw:
`cite = {cite_entry.text: cite_entry.url for cite_entry in model_resource.cite}`

Which suggests that dict of url indexed by the text, and I also saw the

[2022-02-17 17:25] constantinpape opened #225 "Mode fixed with axes seems to be broken for zero_mean_unit_variance"
I am trying to run a model with the following preprocessing:
[code]
using
[code]
The data has the shape `(1, 3, 512, 512)`, so I think that it should work, but it fails with
[code]

The model is available here: https://oc.embl.de/index.php/s/cXPpBiHonuNyR4Z

[2022-02-17 19:55] constantinpape commented on #211
Yes I agree. Similar issue is true for pre/post-processing. I will have a look into this next week.

I don't see much value in writing out the full citation, but do see much value in giving context to the citations.
If you just give the bullet lists to the papers it will be very hard to understand why exactly a given paper is cited.
And users can click on links to get the exact citation info; if o

[2022-02-17 21:36] #225 closed

[2022-02-23 23:56] esgomezm commented on #210
Hi!

I'm using v0.4.11 and the tiff export gives the following error with 3D data. Looking at the tifffile library, seems that the type needs to be specified in tifffile.write but I'm not 100% sure. Any idea?

[code]
You can check the notebook here: https://github.com/esgomezm/ZeroCostDL4Mic/blob/master/Colab_notebooks/BioImage.io%20notebooks/U-Net_3D_ZeroCostDL4Mic_BioImageModelZoo_export.ipynb

[2022-02-24 07:53] FynnBe commented on #210
The "?" seems to come from https://github.com/blink1073/tifffile/blob/af9d70058b01f501b29cfe924a6463414c388480/tifffile/tifffile.py#L891
which means boolean data: https://numpy.org/doc/stable/reference/arrays.dtypes.html

seems unrelated to bioimageio.core: The input data should not have dtype boolean to be saved as "ImageJ Tiff"?? How do you deal with boolean arrays in ImageJ?

[2022-02-24 08:50] constantinpape commented on #210
Thanks for looking into this @FynnBe. Indeed it looks like an issue with the data type.
@esgomezm please check that the numpy array passed to https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/build_spec/build_model.py#L588-L589 has a "normal" datatype (i.e. not bool or some string datatype).

[2022-02-24 12:31] constantinpape commented on #221
Hey @FynnBe, could you fix the incorrect type annotations so that we can close this?

[2022-02-24 12:31] constantinpape commented on #223
@FynnBe any chance you could improve the error message and prepare an example on how to pass the statistics for the `per_dataset` mode?

[2022-02-24 12:32] constantinpape commented on #213
I assume this is resolved, feel free to reopen if not @oeway.

[2022-02-24 12:32] #213 closed

[2022-02-24 12:33] constantinpape commented on #198
@FynnBe any reason why we might still need `enforce_min_shape`? Otherwise I will remove it.

[2022-02-24 19:44] FynnBe commented on #205
@tomburke-rse does this need more discussion or does everything work as expected?

[2022-02-24 20:30] tomburke-rse commented on #205
Nope, I'm happy with it as it is. :)

[2022-02-24 20:30] #205 closed

[2022-02-24 21:22] #198 closed

[2022-02-25 11:36] FynnBe commented on #221
I'm a bit confused, but ZeroMeanUnitVariance is now annotaed to accept sequences for mean, std: https://github.com/bioimage-io/core-bioimage-io-python/blob/f520119bace6a41c41b6560cc9495f038a34d30f/bioimageio/core/prediction_pipeline/_processing.py#L241-L242

ScaleMeanVariance is not yet implemented, but asaik not in use and not part of this issue...
https://github.com/bioimage-io/core-bioimage-io-

[2022-02-25 11:36] #221 closed

[2022-02-25 13:15] FynnBe opened #234 "add doc links to validation errors"
maybe (in general or just for a Union field) we can add a link to the documentation?
e.g. https://github.com/bioimage-io/spec-bioimage-io/blob/gh-pages/model_spec_latest.md#format_version

_Originally posted by @FynnBe in https://github.com/bioimage-io/core-bioimage-io-python/issues/233#issuecomment-1050842163_

[2022-02-25 21:01] #211 closed

[2022-02-28 15:59] constantinpape opened #236 "core and spec library should support bioimage.io ids with version"
since this is the new default way it is presented on the website.
Currently does not work:
[code]
(This model: https://bioimage.io/#/?id=10.5281%2Fzenodo.5817052%2F5906839)
fails with the following error:
[code]

[2022-02-28 16:32] FynnBe commented on #236
good catch, I'll fix asap

[2022-03-01 20:10] constantinpape opened #237 "Check if inputs are valid according to input shape parametrization"
I don't think that we check whether a model input is valid according to the shape parametrization when running prediction.
I think that we should check this, but only throw a warning if it is not valid, since the model might still be able to process the image.
E.g. because we have the constrained that the `min_shape` must be big enough to crop away the halo, so smaller shapes might actually pass w

[2022-03-01 22:35] uschmidt83 commented on #217
It happened again:

[code]

[2022-03-01 22:38] uschmidt83 commented on #217
This time needs `"bioimageio.spec>=0.4.4"`.

https://github.com/bioimage-io/core-bioimage-io-python/blob/e9da41caa2bb24ea78d4516ae678b29cb133e5b2/setup.py#L28

[2022-03-02 08:27] FynnBe commented on #217
yeah.. we really need to automate this eventually!

[2022-03-05 09:49] #236 closed

[2022-03-11 08:54] oeway opened #242 "Improve documentation for the command line"
I am trying to run model testing from a doi.

In the docs it said I should do  `bioimageio test-model -m <MODEL>`

But it said `-m` is not an option:

[code]

Remove the -m option works though.

For future improvements, from the command line, it also prints:
[code]

Which is a bit confusing to me, would it be possible to make these warning messages more cleaner?

[2022-03-11 10:15] constantinpape commented on #242
The docs are outdated. I will update them.

[2022-03-11 10:17] constantinpape commented on #242
For the rest: I agree, I have complained with @FynnBe about all these warnings already but there is some reason for it...

[2022-03-11 11:29] FynnBe opened #243 "Improve 404 errors"
...
Also, the error message here is very confusing; it fails to load the input numpy data (because this is a text file that contains the 404 error message.) We should update the `requests` call that is used for downloading so that it actually catches these errors and doesn't just write the error to file ...

_Originally posted by @constantinpape in https://github.com/bioimage-io/collection-bioimag

[2022-03-11 13:31] FynnBe commented on #242
Yes the cache warnings are annoying, but I am afraid of just removing them without updating the cache mechanism.
we currently simply go by url, which is very dangerous; thus the warnings. (see https://github.com/bioimage-io/spec-bioimage-io/issues/289)

[2022-03-11 20:01] FynnBe commented on #223
will be fixed by https://github.com/bioimage-io/core-bioimage-io-python/pull/241

[2022-03-11 23:25] constantinpape opened #244 "More fixes for predict_with_tiling"
1. Tiling with a spatial halo of zero should work (currently fails with some spec)
2. Tiling with missing halo field should work and default to zeros
3. Current behaviour for tiling with a fixed output shape doesn't make sense: https://github.com/bioimage-io/core-bioimage-io-python/blob/main/bioimageio/core/prediction.py#L467-L468. It sets the output shape to the fixed model output shape, which is

[2022-03-15 10:42] constantinpape commented on #244
Fixed by #245

[2022-03-15 10:47] constantinpape opened #246 "Generate single model fixtures dynamically"
Currently, the pytest fixtures for getting single models need to be generated by hand here: https://github.com/bioimage-io/core-bioimage-io-python/blob/main/tests/conftest.py#L177-L229.

It would be nice to generate these automatically instead.

[2022-03-23 10:55] constantinpape commented on #243
Fixed by https://github.com/bioimage-io/spec-bioimage-io/pull/425

[2022-03-23 10:55] #243 closed

[2022-03-29 11:28] esgomezm opened #255 "Unzip local bioimage model zoo models"
Hi!

1.- When I load a model from a zip file using the following code, is there any way from the bioimage.io library to unzip the model? Or should I hard code it?

[code]
I'm still working on the [integration in ZeroCostDL4Mic notebooks](https://github.com/HenriquesLab/ZeroCostDL4Mic/pull/181) and I realised that all model loading cases work well except this one in which I have a local BMZ model (

[2022-03-29 11:51] constantinpape commented on #255
Calling `load_resource_description` with a path to a zipped file works. Can you please try it and check the contents of the zip if it does not work? Maybe there's something wrong with it. If it doesn't work, but you think it should then please upload the zip somewhere so we can check it.

Sorry, I am not quite sure I understand: do you want to modify `config:deepImageJ:postprocessing` or do you wa

[2022-03-29 12:09] esgomezm commented on #255
It's not working for me. Actually I don't see the difference between `load_resource_description` and. `load_resource_raw_description`:

[code]

Both :) There's a model for which I would like to add an `argmax` postprocessing step (not yet defined in the BMZ as far as I know) if possible. If there's any way to change `config:deepImageJ:postprocessing`, I will do it like this. If not, I will create

[2022-03-29 12:23] constantinpape commented on #255
I can't reproduce this with some other model locally. Can you please upload this model somewhere so that we can test it?

I see. I will follow up on this.

[2022-03-29 14:24] constantinpape commented on #255
If I understood @esgomezm correctly the return value of `load_resource_description` and `load_raw_resource_description` is the same for this model. Since we only see the output from `load_resource_description` I am not sure if this is actually the case. In any case, I tried with a zipped model locally and I get different results for the 2 functions there.
So in order to check this out we would nee

[2022-03-29 16:24] esgomezm commented on #255
This is what I need. The model description is loaded correctly in python, but I need to know where the keras model is located in the colab session, so I can load the weights in my architecture.

Yes, this one I saw it. The question was more related to the postprocessing. I will try what you wrote and let's see.

Thank you!

[2022-03-29 18:42] esgomezm commented on #255
Everything is good, I didn't see it and it was just confusing for me the difference between loading the description in one way or the other. Now everything should work well, I hope.

For the deepImageJ configuration, is there any way to include it when using `build_model`? Otherwise, I will leave it as an additional macro and then, the model will be fully compatible with the BMZ.

[2022-03-30 07:14] constantinpape commented on #255
Currently not, but I could add an argument for it. What do you think would be the best way to do it?
My idea would be to add a new argument `overwrite_deepimagej_config`, where you can pass a dict and this will then be used to over-write the generated deepImageJ config.
E.g. `overwrite_deepimagej_config={"postprocessing": ....}` to over-write the post-processing config.

[2022-03-30 15:08] esgomezm commented on #255
Hi @constantinpape
I accept it would be nice but maybe it's better not to do it? xD Basically because then, such a feature should be available for other software. On the other hand, doing so, shouldn't it make sure that the run_mode is deepImageJ or other, as some of the standard features are modified?

[2022-03-30 17:21] constantinpape commented on #255
Well, we have the `add_deepimagej` option already, so I think it's fair to also add another argument to over-write it.

In hindsight it would probably have been better to separate the functionality a bit and add a different function for getting the deepimagej config, so that it can just be passed to the `config` argument; but I wouldn't change this right now.

[2022-04-05 19:41] constantinpape commented on #255
@esgomezm: ok, this is working already! You will need the latest version of `bioimageio.spec` (0.4.5post7).
And then you can run the following code:
[code]

[2022-04-21 10:29] xion16lm opened #257 "Rdf version not valid"
When I run the validator, the format version is not being recognized as correct  (even for the models that are already uploaded to the zoo) and I am getting this error :
bioimageio.spec 0.4.5post7
implementing:
	collection RDF 0.2.2
	general RDF 0.2.2
	model RDF 0.4.5
bioimageio.core 0.5.3post2
Error in bioimageio.spec static validation of  RDF :
('Invalid RDF format version 0.3.2 for RDF type rdf

[2022-04-21 10:32] constantinpape commented on #257
Hi @xion16lm,
can you please also upload one of the models where you get this error so that we can have a closer look at it?
Thanks!

[2022-04-21 11:21] constantinpape commented on #257
I don't have access to the file you shared. Could you please change the permission settings so that everyone has read access to it?

[2022-04-21 12:12] FynnBe commented on #257
the general RDF is still in 0.2x. you are probably missing `type: model` in your rdf.yaml

[2022-04-21 12:34] constantinpape commented on #257
Thanks for giving me access, @xion16lm.
However, the validation works for me for the model.yaml file:
[code]

Are you sure that you have correctly installed the `bioimageio.core` and `bioimageio.spec` libraries?
Because the error you're getting ` Submodule ' 'bioimageio.spec.rdf.v0_3 does not exist.')` looks like the package is somehow not installed correctly.

And can you maybe share the exact co

[2022-04-21 13:55] xion16lm commented on #257
I just use this on the google colab notebook
!bioimageio validate 'widefield_dapi_super-resolution/model.yaml'
and these are the installations:
!pip install PyYAML==5.4.1
!pip install h5py==2.10
!pip install bioimageio.core
I use a code from Estibaliz so it should be ok

[2022-04-24 12:46] oeway opened #258 "Export and load didn't work for some models"
I am trying to maintain a installed models folder by using the following `download_model` function, then use `bioimageio.core.load_resource_description(model_path)` to load the function, but it failed for this model: "10.5281/zenodo.5911832", it failed at loading the pytorch weights file. But if I pass the model id directly, it works.

[code]

Not sure if it's related, if I unzip the downloaded mo

[2022-04-24 14:48] constantinpape commented on #258
I can't reproduce this. Here's the full script I tried this with:
[code]
And it works after running it several times. Also note that I changed the returnvalue to always give back `out_path`.
Can you try removing the zip and running it again? Maybe something just went wrong in the download...

If the issue persists, please post the version of `bioimageio.spec` and `bioimageio.core`.

[2022-04-24 15:13] oeway commented on #258
I tried several times, the zip file is ok. And loading is ok too as you seen in the script, but did not work for that particular model (with the prediction using the prediction pipeline).

Can you try to run prediction with bioimage.core? The error occurred inside a docker container, so I didn't get much more details about it.

For the versions, it should be the latest since I built the container

[2022-04-24 15:20] constantinpape commented on #258
Prediction works for me without any problems too:
[code]

[2022-04-24 15:26] oeway commented on #258
Okay, good to know, thanks for testing it!

I will need more investigation then, I also had some other issue within the docker container I made. I will get back when I had more time with it.

For now I am skipping downloading the zip but using a persistent cache folder.

BTW is there any performance drop if we load it from a zip compared to the cache folder, would it unzip it before loading the mo

[2022-04-24 15:29] oeway commented on #258
Hey, could you check also if the rdf.yaml file is ok after unzipping? It appears to be corrupted for me.

[2022-04-24 15:39] constantinpape commented on #258
I can unzip it without any issues.

[2022-04-27 15:28] xion16lm commented on #257
I tried the execution without pyyaml and h5py installation and it still doesn't work. What more can it be?

[2022-04-27 15:47] FynnBe commented on #257
could you please share the google colab you are using, so we can recreate the error?

[2022-04-27 15:51] xion16lm commented on #257
This is the google colab
https://colab.research.google.com/drive/1g1AD5nhvesDQCywnAM54gZlHlXwljwKM?usp=sharing

[2022-04-27 16:10] FynnBe commented on #257
maybe we can have a quick chat about the colab? I think there is a slight misunderstanding.
I don't understand this line in particular:
[code]

[2022-04-27 16:39] FynnBe commented on #257
fixed! 🎉

[2022-04-28 12:04] uschmidt83 opened #260 "Issue with build_model on macOS"
Hi, there's some issue when calling `bioimageio.core.build_spec.build_model` (from StarDist) on macOS:

https://github.com/stardist/stardist/runs/6200546270?check_suite_focus=true

[2022-05-02 21:14] uschmidt83 commented on #260
Ping

[2022-05-02 21:18] constantinpape commented on #260
Thanks for the ping @uschmidt83. I have been moving in the last few days, so was mostly offline (or preparing lectures).
But I have more time in the next 3 days and I will take a look.

[2022-05-02 21:22] uschmidt83 commented on #260
Sure, no worries. All the best for your new job!

[2022-05-03 08:04] FynnBe commented on #260
the solution is not yet clear to me 100%, but the problem is related to an absolute path that was resolved when loading an RDF which at some point is not relative to the RDFs root anymore..
[code]

[2022-05-03 09:27] constantinpape commented on #260
@uschmidt83 this should be fixed now with https://github.com/bioimage-io/spec-bioimage-io/releases/tag/v0.4.5post11.
(Available on pip already, conda will take a few more hours)

[2022-05-03 10:53] constantinpape commented on #260
Now also available on conda forge.

[2022-05-04 07:50] uschmidt83 commented on #260
Looks good, thanks!

[2022-05-04 07:50] #260 closed

[2022-05-04 08:21] xion16lm opened #262 "Widefield models not recognized by test validator"
I have been working on the widefield models to upload them to the zoo, but there is an issue with the test validator.
The models have inputs of 3 dimensions and 3 axes and outputs of 4 dimensions and 4 outputs:

When I try to execute the test-model validator on it, the following error appears:

 'name': 'reproduced test outputs from test inputs

How can I fix this so I can upload the three models

[2022-05-04 08:52] FynnBe commented on #262
the issue here is that your input has 3 dimensions (yxc), while the output, specified by scale and offset to a reference input implies this input to have 4 dimensions (e.g. scale has 4 entries: [1, 1, 1, 1])
if the output truly has 4 dimensions you should be able to add a dimension with a `null` value.. I am not sure this is fully supported yet. (if that is indeed your use-case I'll take another l

[2022-05-04 09:09] FynnBe commented on #262
let me check this a bit.. we haven't had this use-case before afaik

[2022-05-04 09:21] FynnBe commented on #262
turns out this is not yet implemented, but we planned this here: https://github.com/bioimage-io/spec-bioimage-io/issues/252

[2022-05-04 20:58] xion16lm commented on #262
Also, for the models with run_mode deepimagej, the test validator says that is not being recognized, do I comment that? Or how can I fix the issue?

[2022-05-05 12:50] esgomezm opened #263 "Error saving a tiff image"
Hi there! I'm having the following error now when trying to run `build_model`. Any idea?

bioimageio.core.__version__: 0.5.3post2

[code]

[code]

[2022-05-05 12:58] esgomezm commented on #263
wait, let me try it

[2022-05-05 13:12] esgomezm commented on #263
done, it was that! thanks

[2022-05-05 13:14] FynnBe commented on #263
awesome! 👍

[2022-05-05 13:14] #263 closed

[2022-05-06 13:39] xion16lm commented on #262
https://drive.google.com/drive/folders/14qLzIV2qMx-Yy5xD4dp2dfAwO5YSV6BB?usp=sharing

[2022-05-10 12:25] FynnBe commented on #262
there is a warning about the runmode: "ValidationWarning: name: Unrecognized run mode 'deepimagej'"
This is merely indicating that the core library does not implement a special 'deepimagej' run mode and is ignoring it. I will make the warning message clearer. thanks for bringing it up!

[2022-05-10 12:30] FynnBe commented on #262
this model is missing the tensorflow weights and for the keras weights I get:
[code]
and when I manually check on the input test file "exampleImage.npy", I see that it in fact as a very weird shape:
[code]

[2022-05-13 12:54] oeway opened #268 "Upgrade bioimageio.spec with the core"
Would it make sense to somehow link the bioimageio.spec versions with the core, namely, when running `pip install -U bioimage.core` I am kind of hope it will also upgrade the spec, but it didn't. Not sure what's the best way to do this, but maybe one strategy is to set a minimal version for each bioimage.core version, ideally the latest spec.

[2022-05-27 09:16] constantinpape commented on #210
Hi @carlosuc3m,
I am a bit puzzled by this, since I tried the tif export functionality locally and it worked fine for me (i.e. the tifs can be loaded correctly in Fiji). So I am not sure how to fix this and also don't really have time to look into it right now.
Maybe you could have a look at it? The function for saving the tifs is this one: https://github.com/bioimage-io/core-bioimage-io-python/bl

[2022-05-27 12:57] carlosuc3m commented on #210
Okk, will do and will get back to this issue.

[2022-05-28 12:28] oeway opened #269 "Export export_resource_package as folder"
It seems when calling `export_resource_package` it always create a zip package but it takes significant more time to load the zip package for inference compared to an extracted directory. It would be nice to allow by passing the package creation and only export it as a folder.

[2022-05-28 12:46] oeway opened #270 "Check the integrity of weights files and disable cache"
For some reason, some weights files get corrupted after downloading, and it get saved in the cache so it always crash no matter how many times I download it. I spent quite some time to figure it out. To avoid this type of issues I would propose the following:
 1. Disable cache by default
 2. Check the integrity of the the sha256 value of the weight file after downloading
 3. Provide an additional

[2022-05-28 12:49] oeway commented on #258
This happens to me again and made a summary in another issue: https://github.com/bioimage-io/core-bioimage-io-python/issues/270

For some reason, a weights file get corrupted and get cached, and I didn't set `BIOIMAGEIO_USE_CACHE=no` before importing bioimageio.core (I did after importing).

[2022-05-29 08:36] constantinpape commented on #269
Good point. I don't know much about the internals though, so @FynnBe would need to have a look at this.
In the meantime you could just unzip afterwards (easy to automate via `zipfile`).

[2022-05-29 08:43] constantinpape commented on #270
I haven't seen this behaviour before, could you link to a model where that happens? Is this maybe due to some timeouts on the server?

That's a pretty big change and will change overall usage pattern quite a bit. In general caching is definitely desirable, otherwise the library will download data over and over again. So I am against disabling caching by default, I think it's the desired way of wor

[2022-05-29 08:44] constantinpape commented on #270
Yes, that's how environment variables work and is a general pattern in python. We can add a section in the README about this.

[2022-05-29 10:09] #255 closed

[2022-05-29 10:10] constantinpape commented on #237
Thus is done now.

[2022-05-29 10:10] #237 closed

[2022-05-29 10:13] constantinpape opened #272 "tf/keras fails because env can't be set up"
Environment set up for`Test and Deploy bioimageio.core / test-base-bioimage-spec-tf-legacy (3.7)` fails with:
[code]

[2022-05-30 14:18] constantinpape opened #274 "Implement TritonModelAdapter"
Generally useful to support inference on a triton server, and in particular for more robust prediction implementation in the BioEngine, see https://github.com/bioimage-io/bioimage.io/issues/290#issuecomment-1140471598.

[2022-06-01 09:28] carlosuc3m commented on #210
I just create a pull request ( https://github.com/bioimage-io/core-bioimage-io-python/pull/275 ) that should solve the issue. It was pretty straight forward to solve. The 2D image generation was also wrong but it had not created any problem because the c and b dimensions where the ones mixed and in the models all the images had only one channel and one batch.
I am also linking the documentation in

[2022-06-01 18:38] constantinpape commented on #210
Unfortunately it seems to not be that straight forward, since your changes now break the tests because some of the images cannot be written any more. Could you please have another look?

[2022-06-02 12:33] k-dominik opened #276 "support progress reporting for export_resource_package"
`export_resource_package` can take a long time, the function itself doesn't give any feedback. Deeper in the callstack there might be progress printed to the command line, but that is not very convenient for library use, where one might want to have control over how this information is presented - and would also have some information over overall progress.

ideally it would be possible to pass  ei

[2022-06-02 22:09] constantinpape commented on #210
Thanks for fixing this @carlosuc3m. I made a new release (0.5.5) including your changes.

[2022-06-02 22:09] #210 closed

[2022-06-12 13:10] oeway opened #278 "create_prediction_pipeline from RawResourceDescription"
Hi, with @k-dominik we are working on creating a triton model adapter which implements its own model execution logic. For that we would like to bypass the model weights downloading and prefer to use `load_raw_resource_description` to provide a  `RawResourceDescription` to the `create_prediction_pipeline`. @FynnBe or @constantinpape could you please provide some hint on how to do this, currently it

[2022-06-12 19:59] constantinpape commented on #278
Sounds good. I don't have time to look into this now, can you take a look @FynnBe?

[2022-06-16 13:37] FynnBe commented on #278
I will look into this. How urgent is it?

[2022-06-16 13:46] oeway commented on #278
Would be great if we have it soon, I made some attempt but not working. Basically I need it for a much better implementation of the bioengine model runner. In this new implementation, we let triton to handle all the models, and the bioimageio.core only do pre/postprocessing, that can greatly improve the throughput of the server.

[2022-06-29 14:42] tomburke-rse opened #279 "build_model should delete generated files after zipping"
Currently, when running build_model(kwargs*) it copies the weight and all created files into the execution root, zips them to target file and then leaves them there.
I'd expect all those files (including the copied weight) to be temporary, e.g. in a temporary folder and then deleted after zipping or at least program execution as cleanup.

[2022-07-05 18:18] oeway opened #280 "Report model downloading progress"
For the napari plugin, I noticed that the downloading can take more than 10 minutes for some models, during this time, it would greatly improve the user experience if we can register a callback function to report the progress on the user interface. I would propose allowing passing an optional progress callback function to allow connecting with the UI.

[2022-07-07 10:44] constantinpape opened #281 "Fix xarray deprecation warning"
I am getting this very annoying deprecation warning from xarray:
[code]
Can you please fix this @FynnBe?

[2022-07-08 10:45] constantinpape opened #283 "Cache default location causes problems for shared machines"
`/tmp/bioimageio_cache` creates issues for shared machines, because several users will try to access this and it will lead to permission problems. It would be much better to use `/tmp/<USER>/bioimageio_cache` instead.

[2022-07-08 13:41] FynnBe commented on #280
this is being implemented here: https://github.com/bioimage-io/spec-bioimage-io/pull/466

[2022-07-08 14:50] #283 closed

[2022-07-15 17:41] oeway commented on #278
@FynnBe Any updates on this? We have some stability issue with the bioengine which I hope we can fix with this new implementation.

[2022-07-18 14:58] FynnBe commented on #278
Hi @oeway yes, I finally got around to it!
I put a note about how to use the new code to create a Model adapter operating solely with the raw model node here: https://github.com/bioimage-io/core-bioimage-io-python/blob/f3a4aa35c30fab2b5bbb79e7a0544e2e4ec9d418/bioimageio/core/prediction_pipeline/_model_adapters/_model_adapter.py#L32

[2022-07-21 09:09] #278 closed

[2022-07-28 20:57] oeway opened #285 "'InputTensor' object has no attribute 'root_path'"
Hi @FynnBe I am trying the fix for supporting raw nodes: https://github.com/bioimage-io/core-bioimage-io-python/pull/284

However, it doesn't seem to work:

[code]

I am not sure what your note mean when you say override the _prepare model function, but I did this:
[code]

And here is how I run it:
[code]

Note, the goal is to avoid downloading all the weights files for a model, we simply need the

[2022-07-28 21:31] oeway commented on #285
Update: I fixed it by doing the following before calling `create_prediction_pipeline `:

[code]

[2022-08-09 21:13] Czaki opened #286 "Wrong specyfication of pytorch extra requirements are wrongly specified"
The name of `pytorch` package on pypi is `torch`. The `cudatoolkit` package does not exist on pypi.

https://github.com/bioimage-io/core-bioimage-io-python/blob/e335077dfaa282fb4982b85ef17cb46ddd939837/setup.py#L41

I could make PR with fixes if you want.

[2022-08-09 23:12] oeway commented on #286
HI @Czaki Thanks for pointing this out. yes, please make a PR for this!

[2022-08-10 10:24] Czaki commented on #286
Are you interested in modernization of your config by moving the static part of the configuration from `setup.py` to `setup.cfg`/`pyproject.toml`?

[2022-08-17 08:18] constantinpape commented on #286
Let's discuss further in #287. @FynnBe can you please take a look there.

[2022-08-30 22:04] esgomezm opened #288 "unable to run 'predict_with_padding' or tiling"
Hi @FynnBe @constantinpape @oeway
I'm trying to use the library to load the 3D UNet of ZeroCost and predict a large volume with "predict_with_padding" but I got the following comment when trying to load the zip file:
[code]

[2022-09-07 16:44] esgomezm commented on #288
hi again,

this is the error message I spoke about in the meeting. Additionally, I get this other error when trying to predict an image using the keras model:

[code]

[2022-09-07 18:50] constantinpape commented on #288
Hi @esgomezm,
sorry I missed the first time you posted the issue.

For the first part:

can you post a minimal example to reproduce this?

For the second part: `predict_with_padding` has to be called with a `prediction_pipeline` instead. If you change the code to
[code]
it should work. Also note that you need to cast the input_volume to an xarray.DataArray first.  (I will update the example notebo

[2022-09-07 19:04] constantinpape opened #289 "test_model is not working"
`test_model` is not working any more. See the minimal reproducible example and the traceback below.
@FynnBe can you have a look at this? (If you find the issue, please also add a test.)

[code]

[code]

[2022-09-07 20:54] constantinpape commented on #288
@esgomezm I have updated the usage notebook (https://github.com/bioimage-io/core-bioimage-io-python/blob/main/example/bioimageio-core-usage.ipynb) to better explain the prediction functionality, including `predict_with_padding` and `predict_with_tiling`.

[2022-09-07 20:55] #289 closed

[2022-09-13 13:23] Buglakova opened #293 "Better documentation for prediction functions"
Hello.

It is hard to understand from code, what is the difference between `predict_with_tiling` and `predict_with_padding` and what parameters mean.

From searching the repo, trying things and talking to Constantine I figured that `predict_with_tiling` takes as the description of tiling a dictionary with two parameters "halo" and "tile" like this:

[code]
where keys in the dictionary should corre

[2022-09-13 13:26] Buglakova opened #294 "Add averaging between tiles"
Currently during prediction overlapping parts of tiles are just cropped. Would be useful to have different modes for dealing with it, for example, add also averaging and averaging based on distance to the tile edge.

[2022-09-16 18:53] #281 closed

[2022-09-16 18:53] #286 closed

[2022-09-20 17:44] uschmidt83 opened #297 "0.5.6 contains breaking changes"
Hi, I noticed that 0.5.6 breaks [our tests](https://github.com/stardist/stardist/actions/runs/3084587929/jobs/4986909452) in StarDist. I did some digging and think the reason is that `bioimageio.core.resource_tests.test_model` doesn't return a dict anymore, but instead a list (changed in [this commit](https://github.com/bioimage-io/core-bioimage-io-python/commit/4dccc013ee39b1e2f9d875f9a73ca4fe428

[2022-09-20 18:54] FynnBe commented on #297
for reference: this was first changed in a988b7c4070100d334fc1fb03bfde6cf4f695b9d

I made a PR that should fix it: https://github.com/stardist/stardist/pull/209

we changed to a list of tests to be more consistent with `test_resource` which may run multiple tests. We might expand `test_model` accordingly. Atm the returned list of `test_model` always has only one entry.

[2022-09-21 10:17] uschmidt83 commented on #297
Are you sure? Is [this](https://github.com/bioimage-io/core-bioimage-io-python/blob/b0ceac8fa5b412b1ea811c442697de2150fa1b90/bioimageio/core/resource_tests.py#L257-L259) not run when called via `test_model`?

[2022-09-21 11:49] #297 closed

[2022-09-21 12:14] FynnBe commented on #297
you are right! there are already more than one test for models!

[2022-10-09 21:39] Czaki opened #298 "Read information about required number of channels for a given model"
Is there any official API to determine how many channels are required by a given model stored in bioimage-io format?

Part of my job is implementing a universal GUI that allows evaluating a model on user data to check how it works with user data for PartSeg/napari.

The possibility to adjust the parameters of visualization of each data channel separately is an essential functional requirement. Als

[2022-10-10 08:17] FynnBe commented on #298
bioimageio.spec defines the 'model RDF', where you find the `inputs` field: https://github.com/bioimage-io/spec-bioimage-io/blob/gh-pages/model_spec_0_4.md#inputs

thus, for a given model resource you could use `model = bioimageio.spec.load_raw_resource_description(model_rdf)` and then check `model.inputs`.

To extend the inputs/outputs metadata we have this issue: https://github.com/bioimage-io/s

[2022-10-10 09:17] Czaki commented on #298
So, in general, if `inputs.shape.min` on the axis that corresponds to channel in `inputs.axes` will always informal number of required channels?

(If explicit shape is provided then, it could be read from this)

[2022-10-10 09:26] FynnBe commented on #298
yes, you probably want to double check that `inputs.shape.step` has a zero in the channel dim, otherwise the model would accept a range of input channels (which you probably don't want to support for now. I don't think any current model has this edge case).

[2022-10-11 09:09] FynnBe commented on #298
please reopen if there are more questions!

[2022-10-11 09:09] #298 closed

[2022-10-28 16:19] esgomezm opened #302 "Weight conversion for tensorflow 2 is not yet implemented."
I'm trying to  export a TensorFlow 2 model into deepImageJ format but it gives errors as the function seems to not be implemented for it:

[code]
[code]
An example of the notebook to reproduce this error can be checked here: https://github.com/HenriquesLab/ZeroCostDL4Mic/pull/219

The notebook can also be used with binary images but just in case, data from [here](https://zenodo.org/record/5639253#

[2022-10-28 16:41] esgomezm opened #303 "Validator does not run the last version of the spec written by the library"
I exported the model using the last version of the bioimageio.core library but when I click on validate in the Upload, it outputs the following error (my rdf.yaml has format 0.4.8):

<img width="1015" alt="Screenshot 2022-10-28 at 18 40 08" src="https://user-images.githubusercontent.com/43643518/198688880-581ee79c-d2de-48ae-9c3c-b5af6f8274c2.png">

@FynnBe @constantinpape

[2022-10-28 20:11] FynnBe commented on #303
this is because the uploader uses the pinned version 0.4.6 of bioimageio.spec...
I made a PR to update the uploader: https://github.com/bioimage-io/spec-bioimage-io/pull/481

[2022-10-31 11:52] esgomezm commented on #302
Also, if you want to play around with an example, here is a model already uploaded to the bmz: https://bioimage.io/#/?id=10.5281%2Fzenodo.7261974

[2022-10-31 21:41] #302 closed

[2022-10-31 21:46] constantinpape commented on #302
@esgomezm It's implemented now. We will draft a new release soon so that it can be used in zero-cost etc.

[2022-11-02 13:46] esgomezm commented on #302
great! just let me know when it is so the validator passes and I can also update the notebook! Thank you!

[2022-11-03 10:33] ivan-ea opened #307 "Cuda not available when installing using the command in README"
I created a new conda environment and followed the instructions in the [README](https://github.com/bioimage-io/core-bioimage-io-python/blob/main/README.md)
[code]
The result of the following python code gives a telling error:
[code]
`cudatoolkit` appears in the conda list though.
[code]

Could it be because cuda is no longer in the extras_require of pytorch? https://github.com/bioimage-io/core-bio

[2022-11-03 10:38] ivan-ea opened #308 "Weight conversion error from GPU/CPU weights"
I got the following error when trying to use the
`convert-torch-weights-to-torchscript` command on the CLI.

[code]

The problem appeared when using the models:
- 3d-unet-mouse-embryo-live [powerful-fish](https://bioimage.io/#/?tags=plantseg&type=model&id=10.5281%2Fzenodo.6384845)
- 2d-unet-arabidopsis-apical-stem-cells [laid-back-lobster](https://bioimage.io/#/?tags=plantseg&type=model&id=10.5281

[2022-11-03 11:15] constantinpape commented on #307
It looks like conda installed the cpu version. Could you also post what you get in conda list for `pytorch`?

[2022-11-03 11:22] constantinpape commented on #308
Yes, this is a problem for models that were saved with the weights on the GPU. In this case we can just load the model on the cpu by default, which will be done by #309. (It will take a few days till we get out a release with these changes, if you don't want to wait for this you can just go ahead and make this change locally.)

[2022-11-03 11:29] constantinpape commented on #288
I am closing this now, feel free to reopen if the issue still persists @esgomezm.

[2022-11-03 11:29] #288 closed

[2022-11-03 11:30] constantinpape commented on #302
@esgomezm bioimageio.core v0.5.7 is available on conda and pip now and adds support for tensorflow 2.

[2022-11-03 11:42] ivan-ea commented on #307
Yes, it seems like the cpu version got installed:
[code]

[2022-11-03 11:47] ivan-ea commented on #308
Thank you @constantinpape I will try changing it locally for the time being.

[2022-11-03 11:57] constantinpape commented on #307
Ok, it seems that the installation instructions for pytorch have changed.
According to https://pytorch.org/ installing a gpu version now works as this:
[code]
We should update the installation instructions here. (And also note that they might get outdated here and recommend to check with the official pytorch instuctions).
cc @FynnBe @k-dominik

[2022-11-03 12:17] #308 closed

[2022-11-03 12:56] ivan-ea commented on #307
That seems to work. I created a new environment and run that command.
Only after that I installed bioimageio.core with:

[code]
The problem is no longer there, thank you.

[2022-11-03 14:36] #303 closed

[2022-11-03 16:26] constantinpape commented on #307
Thanks for confirming that it works @ivan-ea. I updated the readme accordingly.

[2022-11-04 09:44] FynnBe opened #344 "validate markdown documentation"

[2022-11-09 15:33] oeway opened #311 "Support adding multiple weights using build_model"
Discussion from the BMZ meeting, proposed by @ivan-ea

Would be nice to support adding multiple weights in the build_model function.

cc @constantinpape @FynnBe

[2022-11-09 15:59] ivan-ea commented on #311
For context:
I was not sure if it was possible to generate models with multiple weight files with the build_model function.
Also I wondered if I missed something, since the website has the option to choose between several weight formats to download.

Some models have 2 weights in the rdf (for example [impartial-shrimp](https://bioimage.io/#/?id=10.5281%2Fzenodo.5874741)), so I was curious how they

[2022-11-10 07:59] ivan-ea commented on #311
Thanks @constantinpape  the add_weights function seems exactly what I was missing.
I was following the model creation notebook, since I need to get the
deepimagej_config too. Maybe I could add the add_weights to the example notebook
once I figure out how to use it.

[2022-11-10 08:14] constantinpape commented on #311
That would be great!

[2022-11-16 10:34] ivan-ea opened #314 "Error if no preprocessing when adding deepimagej config"
I think there is an issue with the  `_get_deepimagej_config` function.

The `build_model` function generates the correct ouput when working with a model
with preprocessing (i.e.  [wild-whale](https://bioimage.io/#/?id=10.5281%2Fzenodo.6079314)), it produces the `sample.tifs` and `rdf.yaml` correctly.
But, the plantseg models do not have preprocessing, and the error below appears.

[code]

An easy

[2022-11-16 10:56] carlosuc3m commented on #314
It seems that it is trying to iterate over the variable `attachments` while this variable is set to `None` if there is no pre- and post-processing. A workaround could be to create is as an empy list.
The lines of interest:
* Where attachments is asigned to None: https://github.com/bioimage-io/core-bioimage-io-python/blob/187e10fcecfd6aad97f889e91afca2fd34f86d31/bioimageio/core/build_spec/build_mod

[2022-11-16 13:49] #314 closed

[2022-11-16 13:51] carlosuc3m commented on #314
CAn you please @ivan-ea test it with @FynnBe changes.
Thanks to both of you!

[2022-11-16 16:05] ivan-ea commented on #314
I just tested using the new version of the code. The error seems to be solved.
Thanks a lot.

[2022-11-21 15:59] odinsbane opened #317 "Can I check if my tensorflow model is compatible"
I have a lot of uncertainty in this process. It would be nice if I can debug the various steps.

I have a model, I load images as [t, c, z, y, x] and then I convert them to batches [b, c, z, y, x]  using tiling, then I process the batches with the model. The output is then reconstructed into a prediction.

I think I setup the data ok because I don't get a random assertion error about the shape, bu

[2022-11-21 17:13] constantinpape commented on #317
Hi @odinsbane,
we are happy to help with this, but would need a bit more information:
- Can you please post the exact error message you are getting?
- Can you try to put together a minimal example with the code and weights to reproduce this error?

[2022-11-21 21:37] odinsbane commented on #317
Thank you for the quick response. I can easily put together an example from what I have. Maybe you can help me before I start uploading things.

I have a tensorflow model. There is one input and three outputs. I made a version with one output to get it to work.

I don't mind changing the format, either .h5 or directory.

This is the code I used to build the model.

[code]
This is the output.

/hom

[2022-11-21 22:15] odinsbane commented on #317
I tried a version of the build script using an h5 version of the tensorflow model, and everything seems to be working. It created a zip file and I am trying to upload the zip file to bioimage.io (or zenodo via bioimage.io) which suites my purpose well.  So maybe the sole purpose of this issue is, why doesn't the directory format work?

[2022-11-22 08:07] constantinpape commented on #317
Ok, note that in this case you need to set the weight format to `keras_hdf5`.

I think that we are expecting a zip file of the weights here. It should work if you zip the folder with the weights and then pass the filepath of the zipped file to the `build_model` function.

[2022-11-22 08:20] odinsbane commented on #317
That worked! I think it worked because it created the bioimage-model zip file.

It could be helpful if the documentation said that the directory needs to be zipped, that they names in the weights spec page are the values that should passed to the weights_spec parameter. The "weights_spec" appears to be generated documentation (similar to Tensorflow doc's?)

[2022-11-22 09:15] constantinpape commented on #317
Ok, thanks for checking!

I agree, it would be good to update this. (And indeed the weight spec documentation is autogenerated.) I am not so familiar with the doc generation procedure, maybe @FynnBe could have a look.

[2022-11-22 09:28] odinsbane commented on #317
I can close this issue, but I just want to make sure. Is there another way to test the model?

For me I had to work through fixing the data, then fixing the model, then fixing the data. Did you add the h5 support recently?

[2022-11-22 09:47] constantinpape commented on #317
Let's leave it open until the documentation is updated.

Once you have created the model you can test it via the `bioimageio test-model` command. See also https://github.com/bioimage-io/core-bioimage-io-python#command-line.

No, that has been there for a while.

[2022-11-29 22:03] odinsbane commented on #317
Okay, I finally got around to using the bioimageio test-model! If I use the h5 version of the saved tensorflow model, then the tests pass. When I use the .zip file of the folder saved model I get an error.

 '/tmp/username/bioimageio_cache/extracted_packages/f5854334514ff19d36267b690c03df47182881e321ccfdb78b62eebe6f63d3e7/drosophila-crb-d5/{saved_model.pbtxt|saved_model.pb}')

[2022-11-30 07:50] FynnBe commented on #317
@odinsbane could you share the created zip folder, any additional files that should be included in it, but are not, and your updated `build_model` call? With that we'll take a closer look at the issue.

[2022-11-30 09:40] odinsbane commented on #317
It's a large file, so I am looking at uploading it or making an example. I think though, looking at the temp folder the problem is the way the file has been zipped.

- save model as folder "drosophila-crb-d5"
- zip the folder: `zip drosophila-crb-d5.zip drosophila-crb-d5`

Maybe I need to zip the contents and remove the top-level folder?

[2022-11-30 10:00] FynnBe commented on #317
that's probably it. 👍

I can't improve this right now, but here are some notes from looking into it briefly, if someone else wants to tackle it already:

We should improve the TF Moder adapter here: https://github.com/bioimage-io/core-bioimage-io-python/blob/bc25746cad127e6a54d0885c2212aa8f50a049f8/bioimageio/core/prediction_pipeline/_model_adapters/_tensorflow_model_adapter.py#L65-L66

here `weig

[2022-11-30 10:00] FynnBe opened #319 "Improve TF Model Adapter"
We should improve the TF Model Adapter to be more robust.

I can't improve this right now, but here are some notes from looking into it briefly, if someone else wants to tackle it already:

We should improve the TF Moder adapter here: https://github.com/bioimage-io/core-bioimage-io-python/blob/bc25746cad127e6a54d0885c2212aa8f50a049f8/bioimageio/core/prediction_pipeline/_model_adapters/_tensorflow_

[2022-11-30 10:25] FynnBe opened #320 "validate (citation) dois"
- [ ] the citation doi `doi:10.1002/xyzacab123` is not valid

_Originally posted by @FynnBe in https://github.com/bioimage-io/collection-bioimage-io/issues/510#issuecomment-1331932168_

This should be picked up by the dynamic url validation.
Maybe this is actually checked, but not in the model above because no dynamic validation was run for that model due to missing validation for keras weights, w